.baseContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

div {
    width: 50px;
    height: 50px;
    margin: 2em;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 0.33em;
    text-align: center;
}